.response {
    width: 75%;
    margin: .5rem;
}

:root,
body {
    background-image: url("../images/background.png");
}

.jumbotron {
    background: none;
}

.response:hover {
    background-color: rgba(124, 101, 240, 0.40);
}

.start-button {
    margin: .5rem .5rem;
}

.start-button:hover {
    background-color: rgba(88, 255, 138, 0.4);

}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 1.5rem
    }
}